layout {
    default_tab_template {
        children

        pane size=2 borderless=true {
            plugin location="zjstatus" {

                format_left  "#[fg=#89b4fa,bold]  {mode} {tabs}"
                format_right "#[bg=#a6e3a1,fg=#1e1e2e,bold] 󰏟 {session} "

                mode_locked "#[fg=#f38ba8,bold]  {name} "
                mode_normal "#[fg=#a6e3a1,bold]  {name} "
                mode_resize "#[fg=#fab387,bold] 󰩨 {name} "
                mode_scroll "#[fg=#f5c2e7,bold] 󰞔 {name} "
                mode_pane   "#[fg=#b4befe,bold] 󰏟 {name} "
                mode_tab    "#[fg=#f9e2af,bold] 󰓩 {name} "
                mode_default_to_mode "resize"

                tab_normal "#[bg=#585b70,fg=#24273a] #[bg=#585b70,fg=#000000,bold]󰓪 {name} {sync_indicator}{fullscreen_indicator}{floating_indicator} #[bg=#24273a,fg=#585b70]"
                tab_active "#[bg=#a6e3a1,fg=#24273a] #[bg=#a6e3a1,fg=#000000,bold]󰓩 {name} {sync_indicator}{fullscreen_indicator}{floating_indicator} #[bg=#24273a,fg=#a6e3a1]"

                tab_sync_indicator       " "
                tab_fullscreen_indicator "□ "
                tab_floating_indicator   "󰉈 "

            }
        }
    }

    tab
}
